<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.listeners.TestListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/kalsh/IdeaProjects/APIAutomationFramework">
        <classes>
            <class name="com.tmb.tests.GetRequests">
                <methods>
                    <include name="getEmployeeDetails123" />
                    <include name="getEmployee" />
                </methods>
            </class>
            <class name="com.tmb.tests.PostTests">
                <methods>
                    <include name="createEmployeeTest" />
                    <include name="createEmployeeUsingExternalFile" />
                    <include name="createEmployeeUsingExternalFile1" />
                </methods>
            </class>
        </classes>
    </test>


</suite>